@model ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgetPassword";
}

<h2>Forgot Your Password?</h2>


<p>Please provide your email address</p>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary(false)
        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Email" })<br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@if (ViewBag.Result != null)
{
    if (ViewBag.Result.Message != null)
    {
        <span>@ViewBag.Result.Message</span>
    }
}
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <ul>
            <li>@error[0]</li>
        </ul>
    }
}