@model InviteMembersViewModel

@{
    ViewBag.Title = "InviteMembers";
}

<h2>Invite Members</h2>

<p>Please provide the email of the user that you want to invite</p>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary(false)
        @Html.TextBoxFor(p => p.UserEmail, new { @class = "form-control", placeholder = "Email" })<br />
        <button type="submit" class="btn btn-primary">Invite</button>
    </form>
</div>

@if (ViewBag.Result != null)
{
    if (ViewBag.Result.Message != null)
    {
        <span>@ViewBag.Result.Message</span>
    }
}
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <ul>
            <li>@error[0]</li>
        </ul>
    }
}